A3_XX
*.#1
A3_XX.#2
*.#3
*.LST
A3_XX.M51
cyglink.txt
*.#2
tmp.out
*.A51
8051/Objects/STARTUP.obj
*.obj
8051/Objects/Assignment 2.build_log.htm
*.uvproj
*.uvopt
8051/Assignment 2.uvgui.Gamma
8051/Objects/Assignment 2
*.lnp
*.M51
8051/Methods.__i
*.htm
*.student
8051/Assign 3.wsp
*.__i